<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Acesso Negado (Erro 403)</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    
    </head>
<body>
    <header>
        <h1 class="access-denied-container">Acesso Negado (Erro 403)</h1>
    </header>
    
    <main class="access-denied-container">
        <p>Você não tem permissão para acessar esta página.</p>
        <p>Se você é um Voluntário, acesse sua <a th:href="@{/app/meu-perfil}">página de perfil</a> ou a <a th:href="@{/listaEventos}">lista de eventos</a>.</p>
        <p>Se você acredita que isso é um erro, por favor, entre em contato com o administrador.</p>
        <p><a th:href="@{/logout}">Sair</a></p>
    </main>
</body>
</html>